body {
    font-family: Arial, sans-serif;
    background: #3d3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(151, 150, 150);
    padding: 20px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #000000;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #484848;
}

#hasil {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
